﻿@model IEnumerable<APCSystem.Models.PayrollItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <p>
            @*@Html.ActionLink("Create New", "Create")*@
            <a href="~/PayrollItems/Create" class="btn btn-success"> Create New</a>

        </p>
        <span>Number of rows to display per page:</span>

        <select id="dropdown" class="btn btn-primary btn-sm" style=" width:10%; margin-left:50px" name="dropdown" onchange="SetValue(this.value)">
            <option id="dropdown" value="10" data-page-size="10">10</option>
            <option id="dropdown" value="20" data-page-size="50">50</option>
            <option id="dropdown" value="30" data-page-size="100">100</option>
            <option id="dropdown" value="40" data-page-size="200">200</option>
            <option id="dropdown" value="50" data-page-size="500">500</option>
        </select><br><br>
        <table id="myTable" class="table table-striped table-bordered first" data-paging="true" data-sorting="true" data-filtering="true" data-filter-placeholder="Search Actions" data-filter-dropdown-title="Sort Actions By:" data-sort-value="3">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PLI_Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PLI_Name)
                    </td>
                    <td>
                        <a href="/PayrollItems/Details/@item.PLI_ID"> <img src="~/Content/assets/images/details.png" style="width:30px;height:30px;"></a>
                        <a href="/PayrollItems/Edit/@item.PLI_ID"> <img src="~/Content/assets/images/edit.png" style="width:30px;height:30px;"></a>
                        <a href="/PayrollItems/Delete/@item.PLI_ID"><img src="~/Content/assets/images/delete.png" style="width:30px;height:30px;"></a>


                        @*@Html.ActionLink("Edit", "Edit", new { id = item.PLI_ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.PLI_ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.PLI_ID })*@
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

@section LinksHead{
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/Content/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/libs/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/libs/css/footable.bootstrap.min.css">
    <title>Concept - Bootstrap 4 Admin Dashboard Template</title>
    <style>
        td.footable-sortable > span.fooicon, th.footable-sortable > span.fooicon {
        }

        fooicon fooicon-sort-desc {
            display: none;
        }

        td.footable-sortable.footable-asc > span.fooicon, td.footable-sortable.footable-desc > span.fooicon, td.footable-sortable:hover > span.fooicon, th.footable-sortable.footable-asc > span.fooicon, th.footable-sortable.footable-desc > span.fooicon, th.footable-sortable:hover > span.fooicon {
        }

        .fooicon-sort:before {
            content: "";
            content: "";
        }

        .fooicon-sort:after {
            content: "";
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid black;
        }

        .fooicon-sort-desc:before {
            content: "";
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid black;
        }

        .fooicon-sort-asc:before {
            content: "";
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid black;
        }

        span.caret {
            display: none;
        }

        span.fooicon.fooicon-search {
        }

        .fooicon-search:before {
            content: "\e003"
        }
    </style>

}

@section LinksFoot{
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="~/Content/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="~/Content/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="~/Content/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="~/Content/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="~/Content/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="~/Content/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="~/Content/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="~/Content/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="~/Content/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="~/Content/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="~/Content/assets/libs/js/dashboard-ecommerce.js"></script>
    <script type="text/javascript" src="~/Content/assets/libs/js/query.js"></script>

    <script type="text/javascript" src="~/Content/assets/libs/js/footablejsjs.js"></script>
    <script type="text/javascript" src="~/Content/assets/libs/js/quququ.js"></script>

    <script type="text/javascript" src="~/Content/assets/libs/js/foocompile.js"></script>
    <script type="text/javascript">


        window.onload = function () {

            jQuery(function ($) {
                $('.table').footable({


                });
            });
            var sorting = FooTable.get('#myTable').use(FooTable.Sorting),
                column = 0,
                direction = "DESC";
            sorting._sort(column, direction);
        }

        $('select[name="dropdown"]').change(function () {

            var newSize = $(this).data('pageSize');
            FooTable.get('#myTable').pageSize(newSize);
        });



        $('[data-page-size]').on('click', function (e) {
            e.preventDefault();
            var newSize = $(this).data('pageSize');
            FooTable.get('#page-size-example').pageSize(newSize);
        });
        $("select")
            .change(function () {

                $("select option:selected").each(function () {


                    FooTable.get('#myTable').pageSize($(this).text());
                });

            })
            .change();

    </script>
}