﻿<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @RenderSection("LinksHead",false)
</head>
<body>
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top" style="position:fixed">
                <a class="navbar-brand" href="index.html"><img src="~/Content/assets/images/logo.png"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="~/Content/assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="~/Content/assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">John Abraham </span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="~/Content/assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="~/Content/assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block">
                                                        <span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="~/Content/assets/images/github.png" alt=""> <span>Github</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="~/Content/assets/images/dribbble.png" alt=""> <span>Dribbble</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="~/Content/assets/images/dropbox.png" alt=""> <span>Dropbox</span></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="~/Content/assets/images/bitbucket.png" alt=""> <span>Bitbucket</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="~/Content/assets/images/mail_chimp.png" alt=""><span>Mail chimp</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="~/Content/assets/images/slack.png" alt=""> <span>Slack</span></a>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li>








                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-check"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                        
                                  
                                </li>

                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li>









                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/Content/assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">John Abraham </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-light">
            <div class="menu-list"style="background-color:#007bff;color:white;">
                <nav class="navbar navbar-expand-lg navbar-light">

                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                       
                        <ul class="navbar-nav flex-column">
                            <li class="nav-item ">
                                <a id="hrr" class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#hr" aria-controls="hr"><i class="fa fa-fw fa-user-circle"></i>Human Resources @*<span class="badge badge-success">6</span>*@</a>
                                <div id="hr" class="collapse" style="">
                                    <ul class="navbar-nav flex-column">
                                        <li class="nav-item ">
                                            <a class="nav-link" href="#" data-toggle="collapse" onclick="save('submenu-1')"aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard @*<span class="badge badge-success">6</span*@</a>
                                            <div id="submenu-1" class="collapse" style="">

                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" onclick="save('submenu-2')" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-check"></i>Attendance Rules</a>
                                            <div id="submenu-2" class="collapse" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/AttendanceRules/Create">Create New </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/AttendanceRules/">Index</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" onclick="save('submenu-3')" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-home"></i>Cities</a>
                                            <div id="submenu-3" class="collapse" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/Cities/Create">Create New </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/Cities/">Index</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link" href="#" data-toggle="collapse"onclick="save('submenu-4')" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fas fa-sitemap"></i>Departments</a>
                                            <div id="submenu-4" class="collapse " style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/Departments/Create">Create New </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/Departments/">Index</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" onclick="save('submenu-5')"aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Enrollment Documents</a>
                                            <div id="submenu-5" class="collapse " style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/EnrollmentDocuments/Create">Create New</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/EnrollmentDocuments/">Index</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" onclick="save('submenu-6')"aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-5"><i class="fas fa-user-md"></i></i>Jobs</a>
                                            <div id="submenu-6" class="collapse " style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/Jobs/Create">Create New </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/Jobs/">Index</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" onclick="save('submenu-7')"aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-5"><i class="fas fa-sign-out-alt"></i></i>Leaves</a>
                                            <div id="submenu-7" class="collapse " style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/Leaves/Create">Create New </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/Leaves/">Index</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" onclick="save('submenu-8')"aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-5"><i class="far fa-money-bill-alt"></i></i>Payroll Items</a>
                                            <div id="submenu-8" class="collapse " style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/Payrollitems/Create">Create New </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/Payrollitems/">Index</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" onclick="save('submenu-9')"aria-expanded="false" data-target="#submenu-9" aria-controls="submenu-5"><i class="far fa-file-alt"></i></i>Payroll Item Templates</a>
                                            <div id="submenu-9" class="collapse " style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/PayrollTemplates/Create">Create New </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/PayrollTemplates/">Index</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse"onclick="save('submenu-10')" aria-expanded="false" data-target="#submenu-10" aria-controls="submenu-5"><i class="fas fa-exchange-alt"></i></i>Shifts</a>
                                            <div id="submenu-10" class="collapse " style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/Shifts/Create">Create New </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/Shifts/">Index</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" onclick="save('submenu-11')"aria-expanded="false" data-target="#submenu-11" aria-controls="submenu-5"><i class="fas fa-arrow-alt-circle-up"></i></i>Shift Types</a>
                                            <div id="submenu-11" class="collapse " style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/ShiftTypes/Create">Create New</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="~/ShiftTypes/">Index</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <style>
                                .nav-left-sidebar .navbar-nav .nav-link {
                                    font-size: 14px;
                                    padding: 12px;
                                    /* margin-bottom: 2px; */
                                    color: white;
                                    transition: 0.3s;
                                }
                            </style>
                         <script>
                             var x = false;
                             function save(text) {
                                 
                                 sessionStorage.collapsedmenu = text;
                                 //var m = sessionStorage.collapsedmenu;
                        
                                 document.getElementById("hr").className = "collapse show";


                                 
                          
                                 var m = sessionStorage.collapsedmenu;
                                 if (x == false) {
                                     setTimeout(function () { open(m); }, 10);
                                     x = true;
                                 }
                               
                            
                                
                             }
                             save(sessionStorage.collapsedmenu);
                             function open(z) {
                                 document.getElementById(z).className = "collapse show";
                                 document.getElementById(z).style.backgroundColor = "grey";
                             }
                         </script>
                            @*<li class="nav-divider">
            Features
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-file"></i> Pages </a>
            <div id="submenu-6" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/blank-page.html">Blank Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/blank-page-header.html">Blank Page Header</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/404-page.html">404 page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/sign-up.html">Sign up Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/forgot-password.html">Forgot Password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/pricing.html">Pricing Tables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/timeline.html">Timeline</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/calendar.html">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/sortable-nestable-lists.html">Sortable/Nestable List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/widgets.html">Widgets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/media-object.html">Media Objects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/cropper-image.html">Cropper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/color-picker.html">Color Picker</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-fw fa-inbox"></i>Apps <span class="badge badge-secondary">New</span></a>
            <div id="submenu-7" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/inbox.html">Inbox</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/email-details.html">Email Detail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/email-compose.html">Email Compose</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/message-chat.html">Message Chat</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-8"><i class="fas fa-fw fa-columns"></i>Icons</a>
            <div id="submenu-8" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/icon-fontawesome.html">FontAwesome Icons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/icon-material.html">Material Icons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/icon-simple-lineicon.html">Simpleline Icon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/icon-themify.html">Themify Icon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/icon-flag.html">Flag Icons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/icon-weather.html">Weather Icon</a>
                    </li>
                </ul>
            </div>
        </li>*@
                            @*<li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-9" aria-controls="submenu-9"><i class="fas fa-fw fa-map-marker-alt"></i>Maps</a>
            <div id="submenu-9" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="pages/map-google.html">Google Maps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/map-vector.html">Vector Maps</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-10" aria-controls="submenu-10"><i class="fas fa-f fa-folder"></i>Menu Level</a>
            <div id="submenu-10" class="collapse submenu" style="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Level 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-11" aria-controls="submenu-11">Level 2</a>
                        <div id="submenu-11" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Level 1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Level 2</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Level 3</a>
                    </li>
                </ul>
            </div>
        </li>*@
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        @RenderBody()
    </div>

    @RenderSection("LinksFoot",false)
</body>

</html>
