﻿@model IEnumerable<APCSystem.Models.Shift>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Shift</h4>
            <hr />
            <a href="/Shifts"><img src="~/Content/assets/images/left.png" style="width:40px;height:40px;" /></a>


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.First().SFT_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.First().SFT_Name, new { htmlAttributes = new { @id = "first", @class = "form-control", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.First().SFT_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.First().SFT_BCH_ID, "SFT_BCH_ID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SFT_BCH_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.First().SFT_BCH_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.First().SFT_StartDuration, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.First().SFT_StartDuration, new { htmlAttributes = new { @class = "first form-control", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.First().SFT_StartDuration, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.First().SFT_EndDuration, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.First().SFT_EndDuration, new { htmlAttributes = new { @class = "first form-control", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.First().SFT_EndDuration, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.First().SFT_SFY_ID, "SFT_SFY_ID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SFT_SFY_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.First().SFT_SFY_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input onclick="give();" type="submit" value="Create" class="btn btn-success" />
                    <script>

                        setTimeout(function () { erase(); }, 10);
                        function erase() {
                            for (var i = 0; i < document.getElementsByClassName("first").length; i++) {
                                document.getElementsByClassName("first")[i].value = "";
                                document.getElementById("first").value = "";
                            }

                        };
                        setTimeout(function () { highlight(); }, 77);
                        function give() {
                            //localStorage.a = "red";
                            localStorage.class = "table-success";

                        }
                        function highlight() {
                            // document.getElementById("so").click();
                            // document.getElementById("so").click();

                            if (typeof (Storage) !== "undefined") {
                                if (localStorage.class) {

                                    //localStorage.a = "red";
                                    localStorage.class = "table-success";


                                }
                                else {

                                    //localStorage.a = "#71748d";
                                }
                            }
                            //document.getElementById("last").style.color = localStorage.a;
                            for (var i = 0; i < document.getElementById("myTable").rows[2].cells.length; i++) {
                                document.getElementById("high").className = localStorage.class;


                            }


                            localStorage.clear();

                        }
                    </script>
                </div>
            </div>
        </div>
        }

        <div>
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
        <hr>
        <hr>
     <span>Number of rows to display per page:</span>  
        
        <select id="dropdown"   class="btn btn-primary btn-sm" style=" width:10%; margin-left:50px" name="dropdown" onchange="SetValue(this.value)">
            <option  id="dropdown" value="10" data-page-size="10">10</option>
            <option  id="dropdown" value="20" data-page-size="50">50</option>
            <option  id="dropdown" value="30" data-page-size="100">100</option>
            <option  id="dropdown" value="40" data-page-size="200">200</option>
            <option id="dropdown" value="50" data-page-size="500">500</option>
        </select><br><br>
        <table id="myTable" class="table table-striped footable footable-1 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint-lg" data-paging="true" data-sorting="true" data-filtering="true" data-filter-placeholder="Search Actions" >
            <thead>

                <tr>
                    <th data-visible="false"type="number" class="footable-sortable">
                        @Html.DisplayNameFor(model => model.SFT_ID)
                    </th>
                    <th  class="footable-sortable">
                        @Html.DisplayNameFor(model => model.SFT_Name)
                    </th>
                    <th class="footable-sortable">
                        @Html.DisplayNameFor(model => model.SFT_StartDuration)
                    </th>
                    <th class="footable-sortable">
                        @Html.DisplayNameFor(model => model.SFT_EndDuration)
                    </th>
                    <th class="footable-sortable">
                        @Html.DisplayNameFor(model => model.Branch.BCH_Name)
                    </th>
                    <th class="footable-sortable">
                        @Html.DisplayNameFor(model => model.ShiftType.SFY_Name)
                    </th>
                    <th id="so"></th>
                </tr>
            </thead>
            @for (int i = 0; i < Model.Count(); i++)
            {
                if (i == Model.Count() - 1)
                {

            <tr id="high">
                <td data-sort-value="@Html.DisplayFor(modelItem => Model.ToList()[i].SFT_ID)" class="last"data-type="numeric">
                    @Html.DisplayFor(modelItem => Model.ToList()[i].SFT_ID)
                </td>
                <td class="last">
                    @Html.DisplayFor(modelItem => Model.ToList()[i].SFT_Name)
                </td>
                <td class="last">
                    @Html.DisplayFor(modelItem => Model.ToList()[i].SFT_StartDuration)
                </td>
                <td class="last">
                    @Html.DisplayFor(modelItem => Model.ToList()[i].SFT_EndDuration)
                </td>
                <td class="last">
                    @Html.DisplayFor(modelItem => Model.ToList()[i].Branch.BCH_Name)
                </td>
                <td class="last">
                    @Html.DisplayFor(modelItem => Model.ToList()[i].ShiftType.SFY_Name)
                </td>
                <td class="last">
                    <a href="/Shifts/Details/@Model.ToList()[i].SFT_ID"> <img src="~/Content/assets/images/details.png" style="width:30px;height:30px;"></a>
                    <a href="/Shifts/Edit/@Model.ToList()[i].SFT_ID"> <img src="~/Content/assets/images/edit.png" style="width:30px;height:30px;"></a>
                    <a href="/Shifts/Delete/@Model.ToList()[i].SFT_ID"><img src="~/Content/assets/images/delete.png" style="width:30px;height:30px;"></a>

                    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ToList()[i].SFT_ID }) |
        @Html.ActionLink("Details", "Details", new { id = Model.ToList()[i].SFT_ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ToList()[i].SFT_ID })*@
                </td>

            </tr>

                }

                else
                {
                    <tr>
                        <td data-sort-value="@Html.DisplayFor(modelItem => Model.ToList()[i].SFT_ID)" data-type="numeric">
                            @Html.DisplayFor(modelItem => Model.ToList()[i].SFT_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ToList()[i].SFT_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ToList()[i].SFT_StartDuration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ToList()[i].SFT_EndDuration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ToList()[i].Branch.BCH_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.ToList()[i].ShiftType.SFY_Name)
                        </td>
                        <td>
                            <a href="/Shifts/Details/@Model.ToList()[i].SFT_ID"> <img src="~/Content/assets/images/details.png" style="width:30px;height:30px;"></a>
                            <a href="/Shifts/Edit/@Model.ToList()[i].SFT_ID"> <img src="~/Content/assets/images/edit.png" style="width:30px;height:30px;"></a>
                            <a href="/Shifts/Delete/@Model.ToList()[i].SFT_ID"><img src="~/Content/assets/images/delete.png" style="width:30px;height:30px;"></a>

                            @*@Html.ActionLink("Edit", "Edit", new { id = Model.ToList()[i].SFT_ID }) |
        @Html.ActionLink("Details", "Details", new { id = Model.ToList()[i].SFT_ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ToList()[i].SFT_ID })*@
                        </td>
                    </tr>
                }
            }


        </table>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@section LinksHead{
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/Content/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/libs/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/libs/css/footable.bootstrap.min.css">
    <title>Create Shift Type</title>
    <style>
        td.footable-sortable > span.fooicon, th.footable-sortable > span.fooicon {
        }

        fooicon fooicon-sort-desc {
            display: none;
        }

        td.footable-sortable.footable-asc > span.fooicon, td.footable-sortable.footable-desc > span.fooicon, td.footable-sortable:hover > span.fooicon, th.footable-sortable.footable-asc > span.fooicon, th.footable-sortable.footable-desc > span.fooicon, th.footable-sortable:hover > span.fooicon {
        }

        .fooicon-sort:before {
            content: "";
            content: "";
        }

        .fooicon-sort:after {
            content: "";
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid black;
        }

        .fooicon-sort-desc:before {
            content: "";
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid black;
        }

        .fooicon-sort-asc:before {
            content: "";
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid black;
        }

        span.caret {
            display: none;
        }

        span.fooicon.fooicon-search {
        }

        .fooicon-search:before {
            content: "\e003"
        }
        select.form-control:not([size]):not([multiple]) {
            height: calc(3.25rem + 2px);
        }
    </style>

}

@section LinksFoot{
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="~/Content/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="~/Content/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="~/Content/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="~/Content/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="~/Content/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="~/Content/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="~/Content/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="~/Content/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="~/Content/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="~/Content/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="~/Content/assets/libs/js/dashboard-ecommerce.js"></script>
    <script type="text/javascript" src="~/Content/assets/libs/js/query.js"></script>

    <script type="text/javascript" src="~/Content/assets/libs/js/footablejsjs.js"></script>
    <script type="text/javascript" src="~/Content/assets/libs/js/quququ.js"></script>

    <script type="text/javascript" src="~/Content/assets/libs/js/foocompile.js"></script>
    <script type="text/javascript">

      
        window.onload = function () {

            jQuery(function ($) {
                $('.table').footable({


                });
            });
            var sorting = FooTable.get('#myTable').use(FooTable.Sorting),
                column = 0,
                direction = "DESC";
            sorting._sort(column, direction);
        }

        $('select[name="dropdown"]').change( function () {
           
            var newSize = $(this).data('pageSize');
            FooTable.get('#myTable').pageSize(newSize);
        });

     

        $('[data-page-size]').on('click', function (e) {
            e.preventDefault();
            var newSize = $(this).data('pageSize');
            FooTable.get('#page-size-example').pageSize(newSize);
        });
        $("select")
            .change(function () {
             
                $("select option:selected").each(function () {
                 
                 
                    FooTable.get('#myTable').pageSize($(this).text());
                });
                
            })
            .change();
 
    </script>
}