﻿@model APCSystem.Models.Shift

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div>
            <h4>Shift</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SFT_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SFT_Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SFT_StartDuration)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SFT_StartDuration)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SFT_EndDuration)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SFT_EndDuration)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Branch.BCH_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Branch.BCH_Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ShiftType.SFY_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ShiftType.SFY_Name)
                </dd>

            </dl>
        </div>
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.SFT_ID }) |
        @Html.ActionLink("Back to List", "Index")*@

            <a href="/Shifts"><img src="~/Content/assets/images/left.png" style="width:40px;height:40px;" /></a>
            <a href="/Shifts/Edit/@Model.SFT_ID"> <img src="~/Content/assets/images/edit.png" style="width:50px;height:50px;"></a>

        </p>
    </div>
</div>

@section LinksHead{
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/Content/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/libs/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/libs/css/footable.bootstrap.min.css">
    <title>Concept - Bootstrap 4 Admin Dashboard Template</title>
    <style>
        .form-control {
            width: 70%;
        }
    </style>

}

@section LinksFoot{
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="~/Content/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="~/Content/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="~/Content/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="~/Content/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="~/Content/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="~/Content/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="~/Content/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="~/Content/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="~/Content/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="~/Content/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="~/Content/assets/libs/js/dashboard-ecommerce.js"></script>

}